@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
:root {
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(138, 70%, 62%);
  --white: hsl(334, 7%, 95%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Lato', sans-serif;
    @apply bg-lighter;
  }
  
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h2{
    @apply text-3xl sm:text-4xl
  }
  li {
    @apply cursor-pointer
  }

  /* button {
    @apply shadow-xl shadow-grey700 rounded-xl uppercase bg-gradient-to-r from-alertClr to-ClrOrg text-backgroundClr;
  } */
  a {
    color: inherit;
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    padding: 0;
    list-style: none;
  }
}

/* button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
 */
