.BtnContainer {
    position: relative;
    display: grid;
    cursor: pointer;
    width: 200px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin-top: 3rem;
    margin-left: 1rem;
}

.BtnBox {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    background: hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;
    width: 200px;
    text-align: center;

    position: relative;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));

    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transition: transform 500ms ease-in-out;
}

.BtnContainer > div {
  z-index: 10;
  position: absolute;
  outline: 0.9rem currentColor;
}

.BtnContainer > div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  inset: 0;
}

.BtnContainer > div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  inset: 0;
}

.BtnContainer > div:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  inset: 0;
}

.BtnContainer > div:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  inset: 0;
}

.BtnContainer > div:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  inset: 0;
}

.BtnContainer > div:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  inset: 0;
}

.BtnContainer > div:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  inset: 0;
}

.BtnContainer > div:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  inset: 0;
}

.BtnContainer > div:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  inset: 0;
}
.BtnBox > * {
    text-shadow: 0 0 0.3em currentColor;
}
.BtnBox::before, .BtnBox::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

/* Shadow */
.BtnBox::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(-50px);
    filter: blur(15px);
    opacity: 0.5;
}

/* Gradient */
.BtnBox::after {
    z-index: -2;
    inset: -1rem;
    background: linear-gradient(-45deg, green, blue);
    transform: translateZ(-50px);
}

.BtnContainer > div:nth-child(1):hover ~ .BtnBox {
    --rotateX: -25deg;
    --rotateY: 25deg;
  }
  
  .BtnContainer > div:nth-child(2):hover ~ .BtnBox {
    --rotateX: 0deg;
    --rotateY: 25deg;
  }
  
  .BtnContainer > div:nth-child(3):hover ~ .BtnBox {
    --rotateX: 25deg;
    --rotateY: 25deg;
  }
  
  .BtnContainer > div:nth-child(4):hover ~ .BtnBox {
    --rotateX: -25deg;
    --rotateY: 0deg;
  }
  
  .BtnContainer > div:nth-child(5):hover ~ .BtnBox {
    --rotateX: 0deg;
    --rotateY: 0deg;
  }
  
  .BtnContainer > div:nth-child(6):hover ~ .BtnBox {
    --rotateX: 25deg;
    --rotateY: 0deg;
  }
  
  .BtnContainer > div:nth-child(7):hover ~ .BtnBox {
    --rotateX: -25deg;
    --rotateY: -25deg;
  }
  
  .BtnContainer > div:nth-child(8):hover ~ .BtnBox {
    --rotateX: 0deg;
    --rotateY: -25deg;
  }
  
  .BtnContainer > div:nth-child(9):hover ~ .BtnBox {
    --rotateX: 25deg;
    --rotateY: -25deg;
  }

.HireBtn {
    color: white;
}