.Post {
    --mask: 
    radial-gradient(7px at 25% 0,#0000 98%,#000) 50% 7px/28px 100% repeat-x,
    radial-gradient(7px at 75% 50%,#000 99%,#0000 101%) top/28px 14px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background-color: red;
    height: 200px;
    width: 300px;
}
